body {
  background-color: rgb(43, 43, 43);
  font-family: "Ubuntu", Arial, Helvetica;
  color: white;
}

.header {
  font-family: "Ubuntu", Arial, Helvetica;
  display: flex;
  padding: 20px;
  margin-top: 5px;
  font-size: 18px;
  border-bottom: gray solid 1px;
  background-color: rgb(17, 17, 17);
}

.header {
  img {
    width: 150px;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .menu > * {
    margin-left: 30px;
    text-decoration: none;
    color: white;
  }
}

.searchBar {
  margin: 20px auto;
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
}

.searchBar {
  input {
    font-size: 17px;
    line-height: 32px;
    width: 100%;
    color: white;
    padding-left: 40px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: none;
    background-color: rgb(82, 82, 82);
    position: relative;
    top: 0;
    left: 0;
  }
  input:focus {
    outline: none;
  }
  ::placeholder {
    color: rgb(219, 219, 219);
    font-family: "Ubuntu", Arial, Helvetica;
  }
  i {
    font-size: 15px;
    color: rgb(185, 185, 185);
    position: absolute;
    top: 10px;
    left: 15px;
  }
}

.characters {
  width: 92%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Ubuntu", Arial, Helvetica;
}

.character {
  max-width: 250px;
  margin: 15px 0;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.character {
  .name {
    text-align: center;
    font-size: 16px;
    max-height: 16px;
    overflow: hidden;
  }
  img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 15px 0;
  }
  .description {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 15px;
  }
}

.fav-icon {
  position: absolute;
  color: white;
  background-color: #ed161f;
  padding: 5px;
  right: 0;
  top: 31px;
  text-align: center;
  cursor: pointer;
  border-bottom-left-radius: 5px;
  z-index: 10;
}
.fav-icon:hover {
  background-color: white;
  color: #ed161f;
}

.character-page {
  font-family: "Ubuntu", Arial, Helvetica;
  display: flex;
  flex-direction: column;
}

.character-page {
  .character-infos {
    display: flex;
    margin: 40px auto;
    align-items: center;
  }
  .character-infos {
    .name {
      font-size: 30px;
      font-weight: 700;
    }
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      margin: 0 auto;
      border-radius: 50%;
      margin-right: 20px;
    }
    .description {
      width: 350px;
      line-height: 25px;
      margin-top: 20px;
    }
  }
}

.comics {
  width: 92%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Ubuntu", Arial, Helvetica;
}

.comic {
  max-width: 250px;
  margin: 15px 0;
  text-decoration: none;
  color: white;
}

.comic {
  .name {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    max-height: 16px;
    overflow: hidden;
  }
  img {
    width: 250px;
    margin: 15px 0;
  }
  .description {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 15px;
  }
}

.title {
  font-family: "Ubuntu", Arial, Helvetica;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  background-color: black;
  padding: 20px 0;
  box-shadow: 0 0 5px black;
}

.page-num {
  font-family: "Ubuntu", Arial, Helvetica;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 20px;
  line-height: 20px;
  align-items: center;
}

.page-num-arrow {
  margin: 0 10px;
  border-radius: 50%;
  line-height: 26px;
  width: 28px;
  border: none;
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: rgb(43, 43, 43);
}

.hidden {
  visibility: hidden;
}

.page-num-arrow:hover {
  cursor: pointer;
  background-color: rgba(white, 0.1);
  color: white;
}

.footer {
  font-family: "Ubuntu", Arial, Helvetica;
  border-top: gray solid 1px;
  line-height: 200px;
  text-align: center;
  font-size: 16px;
}

.footer {
  span {
    font-weight: bold;
  }
  a {
    background-color: rgba(white, 0.1);
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 5px;
    text-decoration: none;
  }
  a:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
